<div ng-init="newItem()">
  <h1>Create Event</h1>
  <div ng-controller="EventsCtrl">
    <form class="form" ng-submit="create()">
      <div ng-include="'app/events/events.fields.html'"></div>
    </form>
  </div>
</div>
