<h1>Events</h1>
<div ng-controller="EventsCtrl">
  <div class="input-group">
    <input ng-model="search" type="text" class="form-control" key-trap="13:find()">
    <span class="input-group-btn"><button ng-click="find()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
  </div>
  <div ng-show="searching">
    <a ng-click="clearSearch()">clear search</a>
  </div>
  <div ng-hide="searching">
    <tabset>
      <tab heading="Browse" select="clearCat()">
        <div ng-show="showCategories">
          <ul ng-repeat="cat in Category.items | orderBy:'id'">
            <li><a ng-click="selectCat(cat.id)">{{cat.name}}</a></li>
          </ul>
        </div>
        <div ng-show="showSubcats">
          <div><a ng-click="clearCat()">back</a></div>
          <ul ng-repeat="subcat in subcats | orderBy:'name'">
            <li><a ng-click="selectSubcat(subcat._id)">{{subcat.name}}</a> {{subcat.eventCount}}</li>
          </ul>
        </div>
        <div ng-hide="showCategories || showSubcats">
          <a ng-click="clearSubcat()">back</a>
        </div>
      </tab>
      <tab heading="Uncurated" select="find({ type: 'uncurated' })">
      </tab>
    </tabset>
  </div>
  <ul class="unstyled">
    <li ng-repeat="event in events">
      <a ui-sref="events.detail({ eventId: event._id })">{{event.name}}</a>
      {
        <span ng-repeat="tag in event.tags">
          <span>{{ tag }}</span>;
        </span>
        <span ng-repeat="tag in event.subcatTags">
          <span>{{ tag }}</span>;
        </span>
        <span ng-repeat="tag in event.answerTags">
          <span>{{ tag }}</span>;
        </span>
      }
      (<a ui-sref="events.edit({ eventId: event._id })">Edit</a>)
      (<a href="/events" confirm ng-click="destroy(event)" >Remove</a>)
    </li>
  </ul>
  <a ui-sref="events.create">Create a new Event</a>
</div>
