<div class="form-group">
  <label for="cost">Cost</label>
  <div class="row">
    <div class="col-xs-6">
      <input ng-model="event.cost.min"  type="number" class="form-control" placeholder="min">
    </div>
    <div class="col-xs-6">
      <input ng-model="event.cost.max"  type="number" class="form-control" placeholder="max">
    </div>
  </div>
</div>
<div class="form-group">
  <label for="attendance">Attendance</label>
  <input class="form-control" type="number" ng-model="event.attendance">
</div>
<div class="form-group">
  <label for="pets">Dogs Allowed?</label>
  <select class="form-control" ng-model="event.pets" ng-options="c[0] as c[1] for c in [['no_pets','No Dogs Allowed'],['pet_friendly','Dog-Friendly'],['for_pets','For Dogs']]">
  </select>
</div>
<div class="form-group">
  <label for="kids">Kids</label>
  <select class="form-control" ng-model="event.kids" ng-options="c[0] as c[1] for c in [['no_kids','No Kids Allowed'],['kid_friendly','Kid-Friendly'],['for_kids','For Kids']]">
  </select>
</div>
<div class="form-group">
  <label for="">Minimum Age</label>
  <input class="form-control" type="number" ng-model="event.age">
</div>
<div class="form-group">
  <div class="row">
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.fun" value="1">Calm</label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.fun" value="2"></label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.fun" value="3"></label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.fun" value="4"></label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.fun" value="5">Lively</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.classy" value="1">Casual</label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.classy" value="2"></label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.classy" value="3"></label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.classy" value="4"></label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="radio">
        <label><input type="radio" ng-model="event.feel.classy" value="5">Formal</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="checkbox">
    <label><input type="checkbox" ng-model="event.rsvp.required">Required RSVP/Reservation?</label>
  </div>
  <div ng-show="event.rsvp.required" class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="attendance">RSVP/Reservation: Start</label>
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="event.rsvp.start" />
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="attendance">RSVP/Reservation: End</label>
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="event.rsvp.end" />
      </div>
    </div>
  </div>
</div>
<div ng-repeat="p in event.place">
  <div class="form-group">
    <label for="date">Date <a ng-click="removePlace($index)"><span class="glyphicon glyphicon-minus"></span></a></label>
    <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="p.date" />
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="time-start">Start Time</label>
        <timepicker ng-model="p.start" minute-step="15" show-meridian="true"></timepicker>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="time-end">End Time</label>
        <timepicker ng-model="p.end" minute-step="15" show-meridian="true"></timepicker>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input class="form-control" type="text" ng-model="p.location">
  </div>
</div>
<a ng-click="addPlace()">Add Another Date/Time</a>
<div class="row">
  <div class="col-xs-4" ng-repeat="i in [0,1,2]">
    <div class="form-group">
      <label for="category">Category:</label>
      <select class="form-control" type="text" ng-model="cats[$index]" ng-options="c.id as c.name for c in categories">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group">
      <label for="subcat">Subcategory:</label>
      <select class="form-control" type="text" ng-model="event.subcats[$index]" ng-options="sc._id as sc.name for sc in subcats[$index] | orderBy:'name'">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group">
      <label for="weight">Weight</label>
      <input class="form-control" type="number" ng-model="event.weights[$index]" min="10" max="100" step="10">
    </div>
  </div>
</div>
<small class="error" ng-show="event.weights[0] + event.weights[1] + event.weights[2] != 100">Weights must total 100</small>
<div ng-repeat="i in [0,1,2]">
  <div ng-show="has_questions[$index]">
    <h4>Questions for {{ selectedCategoryName($index) }} - {{ selectedSubcatName($index) }}:</h4>
    <div class="form-group clear" ng-repeat="question in questions[$index]">
      <label for="name">{{ question.name }}</label>
      <div ng-switch="question.questionType">
        <div ng-switch-when="multi-select">
          <div class="checkbox col-sm-3" ng-repeat="answer in question.answers">
            <label>
              <input type="checkbox" checklist-model="event.answers[question._id]" checklist-value="answer._id">
              {{ answer.name }}
            </label>
          </div>
        </div>
        <div ng-switch-when="text">
          <input class="form-control" type="text" ng-model="event.answers[question._id]" />
        </div>
        <div ng-switch-default>
          <select class="form-control" ng-model="event.answers[question._id]" ng-options="a._id as a.name for a in question.answers">
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group clear">
  <label for="name">Name of Event</label>
  <input class="form-control" type="text" ng-model="event.name" placeholder="40 chars max" maxlength="40">
</div>
<div class="form-group">
  <label for="name">Short Description</label>
  <input class="form-control" type="text" ng-model="event.title" placeholder="140 chars max" maxlength="140">
</div>
<div class="form-group">
  <label for="name">Long Description</label>
  <textarea class="form-control" ng-model="event.description"></textarea>
</div>
<div class="form-group">
  <label for="name">Event/Class Name</label>
  <input class="form-control" type="text" ng-model="event.nickname">
</div>
<div class="form-group">
  <label for="name">Website Link</label>
  <input class="form-control" type="url" ng-model="event.website" placeholder="http://funevent.com">
</div>
<div class="form-group">
  <label for="source">Source:</label>
  <select class="form-control" type="text" ng-model="event.source" ng-options="s._id as s.name for s in sources">
    <option value=""></option>
  </select>
</div>
<button type="submit" class="btn btn-default">Submit</button>
