<div class="row" ng-init="findOne()">
  <h1>Editing Event: {{event.name}}</h1>
  <div ng-controller="EventsCtrl">
    <form class="form" ng-submit="update()">
      <div ng-include="'app/events/events.fields.html'"></div>
    </form>
  </div>
</div>
