<div ng-controller="EventsCtrl" ng-init="findOne()">
  <h1>{{event.name}} (<a ui-sref="events.edit({ eventId: event._id })">Edit</a>)</h1>
  {
    <span ng-repeat="tag in event.tags">
      <span>{{ tag }}</span>;
    </span>
    <span ng-repeat="tag in event.subcatTags">
      <span>{{ tag }}</span>;
    </span>
    <span ng-repeat="tag in event.answerTags">
      <span>{{ tag }}</span>;
    </span>
  }
  <div>
    <a ui-sref="events.list">View all events</a>
  </div>
</div>
