<div ng-init="findOne()">
  <h1>Editing Sub-Category: {{subcat.name}}</h1>
  <div ng-controller="SubcatsCtrl">
    <form class="form" ng-submit="update()">
      <div ng-include="'app/subcats/subcats.fields.html'"></div>
    </form>
  </div>
</div>
