<div ng-init="newItem()">
  <h1>Create Sub-Category</h1>
  <div ng-controller="SubcatsCtrl">
    <form class="form" ng-submit="create()">
      <div ng-include="'app/subcats/subcats.fields.html'"></div>
    </form>
  </div>
</div>
