<h1>Sub-Categories</h1>
<div ng-controller="SubcatsCtrl" ng-init="find()">
  <div ng-repeat="cat in Category.items | orderBy:'id'">
    <h4>{{ cat.name }}</h4>
    <ul class="unstyled">
      <li ng-repeat="subcat in subcatsByCategory[cat.id] | orderBy:'name'">
        <a ui-sref="subcats.detail({ subcatId: subcat._id })">{{subcat.name}} ({{ subcat.code }})</a>
        (<a ui-sref="subcats.edit({ subcatId: subcat._id })">Edit</a>)
        (<a href="/subcats" confirm ng-click="destroy(subcat)">Remove</a>)
      </li>
    </ul>
    <br>
    <a ui-sref="subcats.create">Create a new sub-category</a>
  </div>
</div>
