<div ng-controller="SubcatsCtrl" ng-init="findOne()">
  <h1>{{subcat.name}} (<a ui-sref="subcats.edit({ subcatId: subcat._id })">Edit</a>)</h1>
  <div>
    <p><strong>Category: </strong>{{ Category.findById(subcat.category).name }}</p>
    <p><strong>Code: </strong>{{ subcat.code }}</p>
    <p><strong>Tags: </strong>{{ subcat.tags.join(', ') }}</p>
    <p><strong>Questions: </strong>{{ subcat.questionNames.join(', ') }}</p>
    <a ui-sref="subcats.list">View all sub-categories</a>
  </div>
</div>
