<div class="form-group">
  <label for="name">Name</label>
  <input class="form-control" type="text" ng-model="subcat.name" id="name" placeholder="Name">
</div>
<div class="form-group">
  <label for="category">Category</label>
  <select class="form-control" type="text" ng-model="subcat.category" id="category" ng-options="c.id as c.name for c in categories">
  </select>
</div>
<div class="form-group">
  <label for="name">Code</label>
  <input class="form-control" type="text" ng-model="subcat.code" id="code" placeholder="Code">
</div>
<div class="form-group">
  <div class="input-group" ng-repeat="tag in subcat.tags">
    <input class="form-control" type="text" ng-model="tag" placeholder="Tag" />
    <a class="input-group-addon" ng-click="removeTag($index)"><span class="glyphicon glyphicon-minus"></span></a>
  </div>
  <div class="input-group">
    <input class="form-control" type="text" ng-model="subcat.newTag" placeholder="Tag" key-trap="13:addTag()" />
    <a class="input-group-addon" ng-click="addTag()"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
</div>
<div class="form-group">
  <label class="control-label">Questions</label>
  <div class="checkbox" ng-repeat="question in questions | orderBy:'name'">
    <label>
      <input type="checkbox" checklist-model="subcat.questions" checklist-value="question._id">
      {{question.name}}
    </label>
  </div>
</div>
<button type="submit" class="btn btn-default">Submit</button>
