<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Events</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ui-sref-active="active" ng-show="isLoggedIn()">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" class="dropdown" ng-class="{'open':isDropped}">
          <a class="dropdown-toggle" ng-click="isDropped = !isDropped" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul ng-show="isDropped" class="dropdown-menu" role="menu">
            <li ng-repeat="item in adminMenu" ui-sref-active="active" ng-show="isLoggedIn()">
                <a ui-sref="{{item.state}}" ng-click="isDropped = false">{{item.title}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isAdmin()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
