<div ng-show="isLoggedIn()">
  <h1>Events</h1>
  <div ng-controller="EventsCtrl">
    <div class="input-group">
      <input ng-model="search" type="text" class="form-control" key-trap="13:find()">
      <span class="input-group-btn"><button ng-click="find()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
    </div>
    <div ng-show="searching">
      <p><a ng-click="clearSearch()">clear search</a></p>
    </div>
    <div ng-hide="searching">
      <div ng-show="showCategories">
        <div class="list-group">
          <div class="list-group-item" ng-repeat="cat in Category.items | orderBy:'id'">
            <a ng-click="selectCat(cat.id)"><p>{{cat.name}}</p></a>
          </div>
        </div>
      </div>
      <div ng-show="showSubcats">
        <p><a ng-click="clearCat()">back</a></p>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="subcat in subcats | orderBy:'name'">
            <a ng-click="selectSubcat(subcat._id)"><p>{{subcat.name}} {{subcat.eventCount}}</p></a>
          </div>
        </div>
      </div>
      <div ng-hide="showCategories || showSubcats">
        <p><a ng-click="clearSubcat()">back</a></p>
      </div>
    </div>
    <div class="list-group">
      <div ng-repeat="event in events" class="list-group-item">
        <a ui-sref="main.detail({ eventId: event._id })">
          <p class="list-group-item-heading">{{event.name}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div ng-hide="isLoggedIn()">
  <p>
    <a ui-sref="login">Please Login</a>
  </p>
</div>
