<div class="input-group" data-open="opened">
  <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="ngModel" is-open="opened" close-text="Close" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</div>
