<div ng-init="newItem()">
  <h1>Create Question</h1>
  <div ng-controller="QuestionsCtrl">
    <form class="form" ng-submit="create()">
      <div ng-include="'app/questions/questions.fields.html'"></div>
    </form>
  </div>
</div>
