<div class="form-group">
  <label for="name">Name</label>
  <input class="form-control" type="text" ng-model="question.name" id="name" placeholder="Name">
</div>
<div class="form-group">
  <label for="question_type">Type</label>
  <select class="form-control" type="text" ng-model="question.questionType" id="question_type" ng-options="qt.val as qt.label for qt in questionTypes">
  </select>
</div>
<fieldset>
  <fieldset ng-repeat="ans in question.answers">
    <div class="form-group">
      <label>Answer</label>
      <div class="input-group">
        <input class="form-control" type="text" ng-model="ans.name" placeholder="Answer">
        <a class="input-group-addon" ng-click="removeAnswer($index)"><span class="glyphicon glyphicon-minus"></span></a>
      </div>
    </div>
    <div class="form-group">
      <label>Tags for {{ ans.name }}</label>
      <div class="input-group" ng-repeat="tag in ans.tags">
        <input class="form-control" type="text" ng-model="tag" placeholder="Tag" />
        <a class="input-group-addon" ng-click="removeTag(ans,$index)"><span class="glyphicon glyphicon-minus"></span></a>
      </div>
      <div class="input-group" key-trap="13:addTag(ans)">
        <input class="form-control" type="text" ng-model="ans.newTag" placeholder="Tag" />
        <a class="input-group-addon" ng-click="addTag(ans)"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <a ng-click="addAnswer()"><span class="glyphicon glyphicon-plus"></span>Answer</a>
  </div>
  <div class="form-group">
    <label class="control-label">Sub-categories:</label>
    <div ng-repeat="cat in Category.items | orderBy:'id'">
      <label>{{ cat.name }}</label>
      <div class="row">
        <div class="checkbox col-sm-3" ng-repeat="subcat in subcatsByCategory[cat.id] | orderBy:'name'">
          <label>
            <input type="checkbox" checklist-model="question.subcats" checklist-value="subcat._id">
            {{subcat.name}}
          </label>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<button type="submit" class="btn btn-default">Submit</button>
