<div ng-controller="QuestionsCtrl" ng-init="findOne()">
  <h1>{{question.name}} (<a ui-sref="questions.edit({ questionId: question._id })">Edit</a>)</h1>
  <div>
    <p><strong>Category: </strong>{{ Category.findById(question.category).name }}</p>
    <p><strong>Type: </strong>{{ questionTypeName(question.questionType).label }}</p>
    <p>
      <strong>Answers: </strong>
      <ul>
        <li ng-repeat="ans in question.answers">{{ ans.name }}: {{ ans.tags.join(', ') }}</li>
      </ul>
    </p>
    <a ui-sref="questions.list">View all questions</a>
  </div>
</div>
