<h1>Questions</h1>
<div ng-controller="QuestionsCtrl" ng-init="find()">
  <ul class="unstyled">
    <li ng-repeat="question in questions | orderBy:'name'">
      <a ui-sref="questions.detail({ questionId: question._id })">{{question.name}}</a>
      (<a ui-sref="questions.edit({ questionId: question._id })">Edit</a>)
      (<a href="/questions" confirm ng-click="destroy(question)" >Remove</a>)
    </li>
  </ul>
  <br>
  <a ui-sref="questions.create">Create a new question</a>
</div>
