<h1>Sources</h1>
<div ng-controller="SourcesCtrl" ng-init="find()">
  <div id="source-filter">
  </div>
  <div ng-repeat="source in sources | orderBy:'name'">
    <div class="row">
      <div class="col-md-3"><a ng-click="loadEvents(source)">{{ source.name }}</a> <a ng-click="edit( source._id )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></div>
      <div class="col-md-1">{{ source.importance }}</div>
      <div class="col-md-2"><a target="_blank" href="{{ source.link }}">{{ source.link }}</a></div>
      <div class="col-md-4">{{ source.notes }}</div>
      <div class="col-md-1">{{ source.lastCheck | date:'yyyy-MM-dd' }}</div>
      <div class="col-md-1">{{ source.nextCheck | date:'yyyy-MM-dd' }}</div>
    </div>
  </div>
  <br>
  <a ng-click="new()">Create a new source</a>
  <div ng-show="selectedSource">
    <h4>Events for {{selectedSource.name}}</h4>
    <div ng-repeat="event in events | orderBy:'name'">
      <div class="row">
        <div class="col-md-3">{{ event.name }} <a ng-click="editEvent( event._id )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></div>
        <div class="col-md-2">{{ event.place[0].date | date:'yyyy-MM-dd' }}</div>
        <div class="col-md-1">{{ event.complete }}</div>
        <div class="col-md-2">{{ event.sourcedAt | date:'yyyy-MM-dd' }}</div>
      </div>
    </div>
  </div>
</div>
