<div class="form-group">
  <label for="name">Name</label>
  <input class="form-control" type="text" ng-model="source.name" id="name" placeholder="Name">
</div>
<div class="form-group">
  <label for="name">Importance</label>
  <select class="form-control" ng-model="source.importance" ng-options="c as c for c in [1,2,3,4,5]"></select>
</div>
<div class="form-group">
  <label for="name">Link</label>
  <input class="form-control" type="text" ng-model="source.link" id="link" placeholder="http://website.com">
</div>
<div class="form-group">
  <label for="name">Sharing Type</label>
  <select class="form-control" ng-model="source.sharingType" ng-options="c[0] as c[1] for c in [['officialSite', 'Official Site'],['sharingAgg', 'Sharing Aggregator'],['nonsharingAgg', 'Non-Sharing Aggregator']]"></select>
</div>
<div class="form-group">
  <label for="name">Notes</label>
  <textarea class="form-control" ng-model="source.notes"></textarea>
</div>
<div class="form-group">
  <label for="lastCheck">Last Checked</label>
  <dateinput id="lastCheck" ng-model="source.lastCheck" />
</div>
<div class="form-group">
  <label for="lastCheck">Next Check</label>
  <dateinput id="nextCheck" ng-model="source.nextCheck" />
</div>
